.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;

  &__value {
    &--light {
      color: lighten(#616473, 30%)
    }
  }

  &__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .task__checkmark {
        border-color: #4fe3a3;
        background-image: url("../../assets/icons/checked.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70% 70%;
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #eef0f5;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

}

.task__checkbox input:checked ~ .task__checkmark:after {
  display: block;
}
